{% extends 'template.html.twig' %}

{% block title %}Gift index{% endblock %}

{% block body %}
    <h1>Gift index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>PurchaseLink</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gift in gifts %}
            <tr>
                <td>{{ gift.id }}</td>
                <td>{{ gift.name }}</td>
                <td>{{ gift.price }}</td>
                <td>{{ gift.image }}</td>
                <td>{{ gift.purchaseLink }}</td>
                <td>
                    <a href="{{ path('app_gift_show', {'id': gift.id}) }}">show</a>
                    <a href="{{ path('app_gift_edit', {'id': gift.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gift_new') }}">Create new</a>
{% endblock %}
