{% extends 'template.html.twig' %}

{% block title %}Gift{% endblock %}

{% block body %}
    <h1>Gift</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gift.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ gift.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ gift.price }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ gift.image }}</td>
            </tr>
            <tr>
                <th>PurchaseLink</th>
                <td>{{ gift.purchaseLink }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gift_index') }}">back to list</a>

    <a href="{{ path('app_gift_edit', {'id': gift.id}) }}">edit</a>

    {{ include('gift/_delete_form.html.twig') }}
{% endblock %}
