{% extends 'template.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>
        {% if user.firstname and user.lastname %}
            {{ [user.firstname, user.lastname]|join(' ') }}
        {% else %}
            User with the ID : {{ user.id }}
        {% endif %}
    </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>

            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname | default("N/A") }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname | default("N/A") }}</td>
            </tr>

            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

            {#<tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>#}

            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>

            {# <tr>
                <th>Image</th>
                <td>{{ user.image | default("N/A")}}</td>
            </tr> #}

            {% if user.image is null or user.image == '' %}
                    <a class="nav-link" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    {% else %}
                        {% if app.environment == 'prod' %}
                            {# Ici, mettez le chemin complet vers votre image sur le bucket S3 #}
                            <a class="nav-link" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="https://challange-esgi.s3.eu-central-1.amazonaws.com/personnes/{{ user.image }}" alt="Image" class="profile-image"></a>
    {#                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="https://challange-esgi.s3.eu-central-1.amazonaws.com/personnes/carlo-tentacule-250-65088328e622f.jpg" alt="Profile Image" class="profile-image"></a>#}
                        {% else %}
                            {# Ici, c'est le chemin local vers l'image #}
                            <a class="nav-link" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{{ asset('uploads/personnes/' ~ user.image) }}" alt="Profile Image" class="profile-image"></a>
                        {% endif %}
            {% endif %}

            <tr>
                <th>CreatedAt</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : 'N\A' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : 'N\A' }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles | readableRoles }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">
        <i class="fa-solid fa-list"></i>
    </a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">
        <i class="fa-solid fa-user-pen"></i>
        {#edit#}
    </a>

    <a href="{{ path('app_user_delete', {'id': user.id}) }}">
        <i class="fa-solid fa-user-xmark"></i>
        {#edit#}
    </a>



{% endblock %}
